
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    font-family: "popins", sans-serif;
    box-sizing: border-box;
    
}





.black{
    background-color: #222222;
    height: 30px;
}

/* search-container and logo*/

/* sec2 */
.logo-placeholder{
    height: 50px;
    width: auto;
}
/* .search-container{
    display: flex;
    justify-content: center;
    gap: 10px;
} */
.form-control{
    border-radius: 0;
    outline: none;
}

.form-control:focus{
    box-shadow: none;
    background-color: #E3E3E7;
    transition: 0.2s ease-in-out; 
}

/* section3 */
.navlinks{
    font-family: "popins", sans-serif;
    font-size: 1.4rem;
    padding:10px ;

}
.nav-ul li{
padding: 10px 0 10px;
margin: 0px 10px 0px 10px ;
}
.navlinks:hover{
    background-color:#ff3300;
    transition: 0.2s ease-in-out;
}
.active{
    background-color:#ff3300
    /* transition: 0.2s ease-in-out; */
}
.nav-ul{
    list-style-type: none;
    /* display: flex; */
}

.hamburger-btn{
    background-color: white;
    border: none;
}
.hamburger-menu{
font-size: 50px;
}

/* body */
/* section4 */

.slider-wrapper{
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    /* aspect-ratio: 16/3; */
}
.slider{
    flex: 1 0 100%;
        scroll-snap-align: start;
}

.slider1-bg-img{
    background: url('./assets/slider1_home_filter1_bg_img.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   padding: 0;
   margin: 0;

}
.slider-1-img1{
width: 500px;
height: auto;
object-fit: cover;
padding-top: 150px;
animation: zoom-out 1s ease-in-out;
}
@media (max-width: 576px) {
    .slider-1-img2 {
        width: 100%;
        height: auto;
        /* padding-top: 50px; */
    }
}
@media (max-width: 768px) {
    .slider-1-img1 {
        width: 80%;
        /* padding-top: 0px; */
        
        margin: 0 auto;
    }
}

@keyframes zoom-out{
from{
    transform: scale(1.5);
    opacity: 0;
}
to{
    transform: scale(1);
    opacity: 1;
}
}
.slider-1-img2{
    width: 400px;
    object-fit: contain;
/* height: 200px; */
margin-top: 100px;

}
.slider-1-img2{
    animation: zoom-in 1s ease-in-out;
}
@keyframes zoom-in{
from{
    transform: scale(0.5);
    opacity: 0;
}
to{
    transform: scale(1);
    opacity: 1;
}

}
.text-animate{
    margin-bottom: 5px;
    width: inherit;
    animation: zoom-in 1s ease-in-out;
}

.btn-animation{
    transform: translateY(-50px);
    opacity: 0;
animation: fall 1s ease-in-out 1s forwards;

}

@keyframes fall{
    from{
        transform: translateY(-50px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
.btn-animation{
    border: none;
    border-radius: 1rem;
    padding: 5px 10px;
    background-color: #e20a16;
    color: white;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .btn-animation {
        padding: 5px 10px;
        font-size: 0.875rem; /* Smaller font size */
    }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .btn-animation {
        padding: 10px 20px;
        font-size: 1rem; /* Base font size */
    }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
    .btn-animation {
        padding: 12px 24px;
        font-size: 1.125rem; /* Larger font size */
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
    .btn-animation {
        padding: 5px 10px;
        font-size: 1rem; /* Even larger font size */
    }
}



/* slider2 */

.slider2_bg_img{
    background: url('./assets/slider2_home_filter2_bg_img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: repeat-x;
    background-position: 0 0;
    animation: slide 90s  linear infinite;

}
@keyframes slide {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: -100% 0;
    }
    100% {
        background-position: 0 0;
    }
}

/* from slider1 zoom-in */
.slider2-img3{
    animation: zoom-in 1s ease-in-out;
}
.slider2-img1{
    animation:zoom-out 1s ease-in-out;
}



/* slider3 */

/* from slider2 */
.slider3_bg_img{
    background: url('./assets/slider2_home_filter2_bg_img.jpg');
  
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: repeat-x;
    background-position: 0 0;
    animation: slide 90s  linear infinite;
}

.slide-mover{
    display: flex;
    column-gap: 1rem;
    justify-content: center;
    bottom: 1.25rem;
    left: 50%;
    
    z-index: 1;
}


.slider-wrapper::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.slider-wrapper {
    -ms-overflow-style: none;
    
    scrollbar-width: none;
    
}
.slide-mover >a{
    height: 10px;
    width: 10px;
        border-radius: 50%;
       
        opacity: 0.75;
        border: 1px solid #160e0e;
        
}
.slide-mover > a:active {
    background-color: #ff0000; 
}


/* section5 */
.filters-family-icons{
    padding: 10rem 0 0 0;
    
}

.filter-icon {
    background-color: #F9F9F9;
    border-radius: 20px;
    padding: 50px 60px;
    position: relative; /* Required for positioning the pseudo-element */
}

.filter-icon::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    border: 2px solid transparent; /* Initial transparent border */
    transition: border-color 0.3s; /* Smooth transition */
    pointer-events: none; /* Ensure the pseudo-element doesn't interfere with hover */
}

.filter-icon:hover::before {
    border-color: red; /* Change border color on hover */
    
}

@media(max-width:768px){
.filter-icon{
    padding: 30px 100px;
    margin: 0 auto;
}
.view-all{
    padding: 0 20px;
}
}
.filter-icon-heading{
    font-size: 20px;
    font-weight: 600;
    color: #222222;
}

/* footer */


footer{

    background-color: #101015;
    font-family: "popins", sans-serif;
}
.section1{
    font-family: "popins", sans-serif;
    
}

h4{
    color: white;
    font-weight: 600;
    font-size: 20px;
}

.footer-box{
    /* height: 25vh; */
    padding: 100px 0px;
    border-bottom: 1px solid #bababa;
}

ul>li>a{
    text-decoration: none;
    color: #bababa
}
ul>li>a:hover {
    text-decoration: underline;
    color: red;
}
.office-aside >*{
color: #bababa;
}
.office-aside p{
    margin: 0;
}

.contact-aside >*{
    color: #bababa;
    padding: 0;
    margin: 0;
}

/* section2 */

.section2{
    color: #bababa;
}
.section2 >*{
font-weight: 500;
word-spacing: 2px;
} 



