<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/certification-awards.css">
    <title>Document</title>
</head>

<body>

    <section class="section-1 my-5">
        <div class="container ">
            <h2>Our <span style="color: #E20A16;">Awards</span></h2>
        </div>
        <div class="container mt-5">
            <div class="row g-3">
                <div class="col-12 col-md-3 ">
                    <a href="#" class="text-decoration-none">
                        <div class="brands-box">
                            <div class="brands-content">
                                <img class="img-fluid" src="./css/assets/brands-of-year.jpg" alt="">

                                <h6 class="text-center awards-heading">Brands Of The Year Award 2004</h6>
                            </div>

                        </div>
                    </a>

                </div>
                <div class="col-12 col-md-3 ">
                    <a href="#" class="text-decoration-none">
                        <div class="brands-box">
                            <div class="brands-content"></div>
                            <img class="img-fluid" src="./css/assets/special-award.jpg" alt="">
                            <h6 class="text-center awards-heading">FPCCA special Award 1995-96</h6>

                        </div>
                    </a>

                </div>
                <div class="col-12 col-md-3 ">
                    <a href="#" class="text-decoration-none">

                        <div class="brands-box">
                            <div class="brands-content">

                                <img class="img-fluid" src="./css/assets/production award.jpg" alt="">
                                <h6 class="text-center awards-heading">Best Production Award 2016</h6>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col-12 col-md-3 ">
                    <a href="#" class="text-decoration-none">
                        <div class="brands-box">
                            <div class="brands-content">

                                <img class="img-fluid" src="./css/assets/atlas-cars-award.jpg" alt="">
                                <h6 class="text-center awards-heading">Honda Atlas Cars (Pakistan) ltd.</h6>
                            </div>
                        </div>

                    </a>

                </div>
                <div class="col-12 col-md-3 ">
                    <a href="#" class="text-decoration-none">
                        <div class="brands-box">
                            <div class="brands-content"></div>
                            <img class="img-fluid" src="./css/assets/companies-award.jpg" alt="">
                            <h6 class="text-center awards-heading">Guard Group Of Companies Trophy</h6>

                        </div>
                    </a>

                </div>
                <div class="col-12 col-md-3 ">
                    <a href="#" class="text-decoration-none">
                        <div class="brands-box">
                            <div class="brands-content">

                                <img class="img-fluid" src="./css/assets/honda-atlas-cars-award.jpg" alt="">
                                <h6 class="text-center awards-heading">Honda Atlas Cars (Pakistan) ltd.</h6>
                            </div>

                        </div>

                    </a>
                </div>
                <div class="col-12 col-md-3 ">
                    <a href="#" class="text-decoration-none">
                        <div class="brands-box">
                            <div class="brands-content"></div>
                            <img class="img-fluid" src="./css/assets/paper-group-award.jpg" alt="">
                            <h6 class="text-center awards-heading">Ahestrom Paper Group (Korea)/6> </h6>
                        </div>

                    </a>

                </div>
            </div>
        </div>
    </section>


    <section class="section-2">
        <div class="container">
            <h2>Our <span style="color: #E20A16;">Certification</span></h2>
        </div>
        <div class="container my-5">
            <div class="row g-3">
                <div class="col-12 col-md-3">
                    <a href="#" class="text-decoration-none">
                        <div class="brands-box">
                            <div class="brands-content">

                                <img class="img-fluid" src="./css/assets/certificate-1.jpg" alt="">
                                <h6 class="awards-heading text-center">RWTUV Certificate</h6>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-3">
                    <a href="#" class="text-decoration-none">
                        <div class="brands-box">
                            <div class="brands-content">

                                <img class="img-fluid" src="./css/assets/certificate-2.jpg" alt="">
                                <h6 class="awards-heading text-center">Federation Of Pakistan
                                </h6>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-3">
                    <a href="#" class="text-decoration-none">
                        <div class="brands-box">
                            <div class="brands-content">

                                <img class="img-fluid" src="./css/assets/certificate-3.jpg" alt="">
                                <h6 class="awards-heading text-center">Barnd Of The Year Award 2006-07</h6>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</body>

</html>