<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/contact-us.css">
    <title>Document</title>
</head>

<body>

    <section class="section-1">
        <div class="container-fluid breadcrumb-bg">
            <div class="container breadcrumb-box">
                <h1 class="text-white">Contact with us</h1>

                <div class="d-none d-md-none d-lg-block text-center ">
                    <a href="/" class="link1 ">Home</a>
                    <span style="color: #FFC5CBBD;"><i class="bi bi-chevron-right"></i></span>
                    <a href="#" class="link2 text-decoration-none" style="pointer-events: none;">Contact with
                        us</a>
                </div>
            </div>
        </div>
    </section>


</body>

</html>