<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/csr.css">
    <title>Document</title>
</head>

<body>
    <section class="section-1">
        <div class="container-fluid bg-corporate">
            <div class="container-fluid corporate-content text-md-start">

                <h1 class="text-white">Corporate Social Responsibility


                </h1>
            </div>
        </div>
    </section>

    <section class="section-2 my-5">
        <div class="container">
            <h2 style="font-size: 6vh;font-weight: 600;"><span style="color: red;">Corporate</span> Social
                Responsibility</h2>
            <p class="my-5" style="color: #5F6271;font-size: 20px;">Pakistan is a thickly populated country and the
                available medical
                facilities do not sufﬁce
                the needs of
                170 million people. Hence there is a recurrent need for outclass medical and surgical units to provide
                affordable but outstanding treatment to the poor. To serve the cause, Mumtaz Bakhtawar Hospital were
                envisioned by Mr. lshaq Malik, the elder brother and materialized by (Late) Mr. Muhammad Shaﬁ Malik
                Sitara-l-lmtiaz, with the co-operation, far sightedness, love and affection of his wife Mumtaz Begum.
            </p>
        </div>
    </section>


    <section class="section-3 mb-5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 mt-0 mt-md-5">
                    <img class="img-fluid" src="./css/assets/csr-img-1.jpg" alt="">
                    <h3 class="my-3" style="color: #D64F55;">Objectives</h3>
                    <ul style="margin-left: 30px;">
                        <li>
                            <p style="color: #5F6271;font-size: 15px;">
                                Setting up Techincal Colleges. The construction of the first Technical College is
                                already
                                under process in the Raiwind branch of Mumtaz Bakhtwar Memorial Trust Hospital
                            </p>
                        </li>
                        <li>
                            <p class="my-3" style="color: #5F6271;font-size: 15px;">Setting up mobile hospital Camps in
                                the remote areas
                                of Pakistan
                                in Future. The camps are
                                to
                                be equipped with modern state-of-the-art facilities</p>
                        </li>
                    </ul>
                </div>

                <div class="col-12 col-md-6">
                    <img class="img-fluid" src="./css/assets/csr-img-2.jpg" alt="">
                    <ul style="margin-left: 30px; margin-top: 50px;">
                        <li>
                            <p style="color: #5F6271;font-size: 15px;">The trust treats over 150,000 patients annually.
                                Its aims to add
                                on drastic number of
                                patients for the well being of general public In house expansion plan is under way in
                                collaboration with other hospital </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    <section class="section-4" style="background-color: #F5F5F5;">
        <div class="container ">
            <div class="row pt-5">
                <div class="col-12 col-md-6">
                    <h3><b style="color: #e20a16;">Hospital</b>Projects</h3>
                    <p class="mt-5" style="color: #5F6271;">The hospitals were designed by an excellent team of experts
                        from the
                        ﬁelds of both medicine and architecture. The facilities have been planned as centers of
                        excellence, equipped and operated to the highest international standards.The hospitals cater to
                        approximately 500 patients on a daily basis.</p>
                    <p class="my-4" style="color: #5F6271;">The management has designed hospital operation using
                        standards and
                        guidelines set by European and American medical institutions. Funded jointly by Mumtaz Bakhtawar
                        Memorial Trust and the donations of philanthropists, these projects have earned heartiest
                        support at home and abroad. The medical and paramedical staff has been strictly selected on the
                        strength of their qualification and experience. The hospital have all the necessary state of the
                        art medical facilities and surgical equipment.</p>
                    <ul class="second-ul" style="margin-left: 30px;">
                        <li>
                            <p>
                                General Surgery
                            </p>
                        </li>
                        <li>
                            <p>
                                Obstetrics & Gynecology
                            </p>
                        </li>
                        <li>
                            <p>
                                Medical
                            </p>
                        </li>
                        <li>
                            <p>
                                Dentistry
                            </p>
                        </li>
                        <li>
                            <p>
                                Orthopedic
                            </p>
                        </li>
                        <li>
                            <p>
                                Ophthalmology
                            </p>
                        </li>

                        <li>
                            <p>
                                Emergency
                            </p>
                        </li>
                        <li>
                            <p>
                                Radiology & Ultrasonography
                            </p>
                        </li>
                        <li>
                            <p>
                                Laboratory
                            </p>
                        </li>
                        <li>
                            <p>
                                Anesthesia
                            </p>
                        </li>
                        <li>
                            <p>
                                Family Planning
                            </p>
                        </li>
                        <li>
                            <p>
                                Mobile Medical Squad
                            </p>
                        </li>
                        <li>
                            <p>
                                Physiotherapy
                            </p>
                        </li>
                        <li>
                            <p>
                                Camps for Diabetics, Hepatitis B & C
                            </p>
                        </li>
                        <li>
                            <p>
                                Liver Patients are regularly setup for free checkup
                            </p>
                        </li>
                    </ul>
                    <a href="https://www.mbmt.org/mbm" class="btn btn-danger my-5" target="_blank">Contact Us</a>
                </div>
                <div class="col-12 col-md-6">
                    <img class="img-fluid" src="./css/assets/csr-img-3.jpg" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="section-5 pb-5" style="background-color:#F5F5F5;">
        <div class="container mosque-box">
            <div class="row">
                <div class="col-12 col-md-6 mt-5">
                    <h3>
                        <b style="color: #e20a16;">Mosques</b>
                    </h3>
                    <p class="my-5" style="color:#5F6271;">Mosques have been constructed in both the hospitals premises.
                        The mosque
                        at Raiwind Road capacitates 600 people at a time and the Mosque at Wahdat Road accommodates 400
                        people at a stretch. The interiors have been decorated with Multani glass work and calligraphy.
                        Islamic literature is also made available in the Mosques libraries for self-study.</p>
                    <a href="#" class="btn btn-danger my-5">contact us</a>
                </div>
                <div class="col-12 col-md-6">
                    <img class="img-fluid" src="./css/assets/csr-img-4.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
</body>

</html>