<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/find-dealer.css">
    <title>Document</title>
</head>

<body>

    <section class="section-1">
        <div class="container-fluid dealer-bg d-flex justify-content-center align-items-center">
            <h2 class="text-white">Find A Dealer</h2>
        </div>
    </section>

    <section class="section-2 my-5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">

                    <p class="txt-bold">M/S HUMA AUTOS, H.S. ADVANI STREET, PLAZA SQUARE, M.A. JINNAH ROAD, KARACHI.</p>
                    <p class="para-color">TEL: (021) 32766727, 32720252 </p>
                    <p class="para-color">
                        FAX: (021) 32733754

                    </p>
                    <p class="para-color">
                        RES: (021) 36804800-36804565-36804568

                    </p>


                    <p class="txt-bold"> M/S NEW GRAND AUTO MOBILES, MUSTAFA MENSION, MCLEAN STREET, PLAZA SQUARE, M.A.
                        JINNAH ROAD, KARACHI.</p>
                    <p class="para-color">TEL: (021) 32730461-32766724 </p>
                    <p class="para-color">MOB: 0300-2187415</p>
                    <p class="para-color">FAX: (021) 32766724</p>
                    <p class="para-color">RES: (021) 36635856</p>


                    <p class="txt-bold">M/S HAMEED SONS, 7-RAFIQ MANZIL, MCLEAN STREET, PLAZA SQUARE, M.A. JINNAH ROAD,
                        KARACHI.</p>
                    <p class="para-color">TEL: (021) 32724045, 32724070

                    </p>
                    <p class="para-color"> MOB: 0333-2133012</p>
                    <p class="para-color"> RES: (021) 34932997-34933931</p>



                    <p class="txt-bold">M/S SAHIL LUBRICANTS, OFFICE NO. B-9A, C-9A, AL-AZAM LIMITED, SUPER HIGHWAY,
                        KARACHI.</p>
                    <p class="para-color">MOB: 0301-8280786
                    </p>
                    <p class="para-color">EML: sl.construction@hotmail.com </p>




                    <p class="txt-bold">M/S SARTAJ MOTOR STORE, STATION ROAD, GHARI KHATTA, HYDERABAD.</p>
                    <p class="para-color">TEL: (022) 2782320, 2781750, 2620370


                    </p>
                    <p class="para-color"> MOB: 0313-2782320</p>
                    <p class="para-color"> FAX: (022) 2720370</p>
                    <p class="para-color">RES: (022) 2633943 </p>


                    <p class="txt-bold">M/S TAJ AUTO STORES, NEAR NOOR MUHAMMAD HIGH SCHOOL, MARKET ROAD,HYDERABAD. </p>
                    <p class="para-color">TEL: (022) 2617616,2610417

                    </p>
                    <p class="para-color">MOB: 0333-2602837</p>
                    <p class="para-color">RES: (022) 2611968-2611700 </p>


                    <p class="txt-bold">M/S NEW TAJ TRACTOR, AL-ZAIB MARKET, SHOP NO.1, TULSI DAS ROAD, GARIKHATA,
                        HYDERABAD.</p>
                    <p class="para-color">TEL: (022) 2782027, 2782415, 2780210

                    </p>
                    <p class="para-color">MOB: 0303-7212815, 0300-8371191</p>
                    <p class="para-color">FAX: (022) 2782027 </p>


                    <p class="txt-bold">M/S AWAMI AUTOS, RACE COURSE ROAD, SUKKUR.</p>
                    <p class="para-color">TEL: (071) 5612282

                    </p>
                    <p class="para-color">MOB: 0300-8311112</p>
                    <p class="para-color">RES: (071) 5613557</p>



                    <p class="txt-bold"> M/S BISMILLAH AUTO TRADERS, RACE COURSE ROAD, SUKKUR. </p>
                    <p class="para-color">TEL: (071) 5614998-5614459

                    </p>
                    <p class="para-color">MOB: 0300-9313438</p>
                    <p class="para-color">RES: (071) 5614997</p>


                    <p class="txt-bold">M/S BALOCHISTAN OIL TRADERS, QUETTA ROAD, DERA ALLAH YAR, DISTRICT JAFARABAD,
                        (BALOCHISTAN)</p>
                    <p class="para-color">TEL: 03158308444
                    </p>
                    <p class="para-color">MOB: 0345-2411706</p>


                    <p class="txt-bold"> M/S NEW BALOCHISTAN LUBE SHOP, NEW TRUCK STAND, HAZAR GUNJI, QUETTA.</p>
                    <p class="para-color"> TEL: 081-4260475</p>


                    <p class="txt-bold">M/S ABDUL KARIM ATTA ULLAH, CITY HALL, SUMUNGLY ROAD, SHAHBAZ TOWN, QUETTA</p>
                    <p class="para-color">TEL: (081) 2838897-2863021-23


                    </p>
                    <p class="para-color">MOB: 0321-8168116</p>
                    <p class="para-color">FAX: (081) 2460164</p>
                    <p class="para-color">RES: (081) 2844896, 283023</p>


                    <p class="txt-bold"> M/S 313 AUTOS, MAIN ROAD, TURBAT (BALOCHISTAN).</p>
                    <p class="para-color">TEL: 0852-413362
                    </p>
                    <p class="para-color">CEL: 0321-3736313</p>

                </div>
                <div class="col-12 col-md-6">

                    <p class="txt-bold">M/S HUMA AUTOS, H.S. ADVANI STREET, PLAZA SQUARE, M.A. JINNAH ROAD, KARACHI.</p>
                    <p class="para-color">TEL: (021) 32766727, 32720252 </p>
                    <p class="para-color">
                        FAX: (021) 32733754

                    </p>
                    <p class="para-color">
                        RES: (021) 36804800-36804565-36804568

                    </p>


                    <p class="txt-bold"> M/S NEW GRAND AUTO MOBILES, MUSTAFA MENSION, MCLEAN STREET, PLAZA SQUARE, M.A.
                        JINNAH ROAD, KARACHI.</p>
                    <p class="para-color">TEL: (021) 32730461-32766724 </p>
                    <p class="para-color">MOB: 0300-2187415</p>
                    <p class="para-color">FAX: (021) 32766724</p>
                    <p class="para-color">RES: (021) 36635856</p>


                    <p class="txt-bold">M/S HAMEED SONS, 7-RAFIQ MANZIL, MCLEAN STREET, PLAZA SQUARE, M.A. JINNAH ROAD,
                        KARACHI.</p>
                    <p class="para-color">TEL: (021) 32724045, 32724070

                    </p>
                    <p class="para-color"> MOB: 0333-2133012</p>
                    <p class="para-color"> RES: (021) 34932997-34933931</p>



                    <p class="txt-bold">M/S SAHIL LUBRICANTS, OFFICE NO. B-9A, C-9A, AL-AZAM LIMITED, SUPER HIGHWAY,
                        KARACHI.</p>
                    <p class="para-color">MOB: 0301-8280786
                    </p>
                    <p class="para-color">EML: sl.construction@hotmail.com </p>




                    <p class="txt-bold">M/S SARTAJ MOTOR STORE, STATION ROAD, GHARI KHATTA, HYDERABAD.</p>
                    <p class="para-color">TEL: (022) 2782320, 2781750, 2620370


                    </p>
                    <p class="para-color"> MOB: 0313-2782320</p>
                    <p class="para-color"> FAX: (022) 2720370</p>
                    <p class="para-color">RES: (022) 2633943 </p>


                    <p class="txt-bold">M/S TAJ AUTO STORES, NEAR NOOR MUHAMMAD HIGH SCHOOL, MARKET ROAD,HYDERABAD. </p>
                    <p class="para-color">TEL: (022) 2617616,2610417

                    </p>
                    <p class="para-color">MOB: 0333-2602837</p>
                    <p class="para-color">RES: (022) 2611968-2611700 </p>


                    <p class="txt-bold">M/S NEW TAJ TRACTOR, AL-ZAIB MARKET, SHOP NO.1, TULSI DAS ROAD, GARIKHATA,
                        HYDERABAD.</p>
                    <p class="para-color">TEL: (022) 2782027, 2782415, 2780210

                    </p>
                    <p class="para-color">MOB: 0303-7212815, 0300-8371191</p>
                    <p class="para-color">FAX: (022) 2782027 </p>


                    <p class="txt-bold">M/S AWAMI AUTOS, RACE COURSE ROAD, SUKKUR.</p>
                    <p class="para-color">TEL: (071) 5612282

                    </p>
                    <p class="para-color">MOB: 0300-8311112</p>
                    <p class="para-color">RES: (071) 5613557</p>



                    <p class="txt-bold"> M/S BISMILLAH AUTO TRADERS, RACE COURSE ROAD, SUKKUR. </p>
                    <p class="para-color">TEL: (071) 5614998-5614459

                    </p>
                    <p class="para-color">MOB: 0300-9313438</p>
                    <p class="para-color">RES: (071) 5614997</p>


                    <p class="txt-bold">M/S BALOCHISTAN OIL TRADERS, QUETTA ROAD, DERA ALLAH YAR, DISTRICT JAFARABAD,
                        (BALOCHISTAN)</p>
                    <p class="para-color">TEL: 03158308444
                    </p>
                    <p class="para-color">MOB: 0345-2411706</p>


                    <p class="txt-bold"> M/S NEW BALOCHISTAN LUBE SHOP, NEW TRUCK STAND, HAZAR GUNJI, QUETTA.</p>
                    <p class="para-color"> TEL: 081-4260475</p>


                    <p class="txt-bold">M/S ABDUL KARIM ATTA ULLAH, CITY HALL, SUMUNGLY ROAD, SHAHBAZ TOWN, QUETTA</p>
                    <p class="para-color">TEL: (081) 2838897-2863021-23


                    </p>
                    <p class="para-color">MOB: 0321-8168116</p>
                    <p class="para-color">FAX: (081) 2460164</p>
                    <p class="para-color">RES: (081) 2844896, 283023</p>


                    <p class="txt-bold"> M/S 313 AUTOS, MAIN ROAD, TURBAT (BALOCHISTAN).</p>
                    <p class="para-color">TEL: 0852-413362
                    </p>
                    <p class="para-color">CEL: 0321-3736313</p>

                </div>
            </div>
        </div>
    </section>

</body>

</html>