<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/our-company.css">
</head>

<body>

    <main>

        <section class="section-1 mb-5">
            <div class="container mt-5 text-center ">
                <h2>Our Brands</h2>
                <div class="row mt-5 g-3 ">
                    <div class="col-12 col-md-3  ">
                        <img class="img-fluid brands-img" src="./css/assets/Guard-Brands.png" alt="">

                    </div>
                    <div class="col-12 col-md-3  ">
                        <img class="img-fluid brands-img" src="./css/assets/Guard-Brands-agricultural.png" alt="">
                    </div>
                    <div class="col-12 col-md-3  ">
                        <img class="img-fluid brands-img" src="./css/assets/Guard-Brands-autozone.png" alt="">
                    </div>
                    <div class="col-12 col-md-3  ">
                        <img class="img-fluid brands-img" src="./css/assets/Guard-Brands-hepa-filters.png" alt="">
                    </div>
                </div>
            </div>
        </section>


        <section class="section-2 pb-5" style="background-color: #F3F4F4;">
            <div class="container-fluid">
                <div class="container">
                    <div class="row pt-5 ">
                        <div class="col-12 col-md-6 all-paras-1">
                            <h4 class="mb-3 text-center text-md-start">About The Founder</h4>
                            <div class="d-flex justify-content-center justify-content-md-start">

                                <img class="img-fluid " src="./css/assets/chairman.jpg" alt="">
                            </div>
                            <p class="mt-3 text-center text-md-start">The auto spare parts business was started in 1948
                                by Mr.
                                Muhammad Shafi
                                Malik
                                under the name
                                of Malik Auto Store. A vacuum existed, so the business flourished due to the hard work
                                and
                                courteous dealing of the proprietor.</p>
                            <p class="my-4 text-center text-md-start">The auto spare parts business was started in 1948
                                by Mr.
                                Muhammad Shafi
                                Malik
                                under the name
                                of Malik Auto Store. A vacuum existed, so the business flourished due to the hard work
                                and
                                courteous dealing of the proprietor.</p>
                            <p class="text-center text-md-start">The word `agricultural` was added later to the name of
                                company to
                                include the
                                manufacturer of
                                Auto filters for tractors and other agricultural machinery and it was registered as
                                private
                                Limited Company. Malik Auto & Agricultural Industries (Pvt.) Ltd, thus become the
                                pioneer
                                industry in manufacturing Auto filter in Pakistan with Mr. Mohammad Shafi Malik as its
                                first
                                chairman.</p>
                        </div>
                        <div class="col-12 col-md-6 all-paras-2">
                            <h4 class="mb-3 text-center text-md-start">About Guard Group</h4>
                            <p class="text-center text-md-start">The name Guard was selected because its literal meaning
                                provides
                                the buyers with an
                                impression that they are actually using Guard Filters to guard their vehicle engines.
                            </p>
                            <p class="my-4 text-center text-md-start">Gradually this name became synonymous of
                                protection and was
                                consequently
                                used as
                                product logo
                                to publicize the Guard Filters</p>
                            <p class="text-center text-md-start">By the end of 1960, a filter paper pleating plant of
                                Japanese
                                origin was installed. With
                                the
                                passage of time other machines were also added to manufacturer sub-components thereby
                                increasing in-house engineering facilities.</p>
                            <p class="my-4 text-center text-md-start">A great exponent of the need to achieve food
                                security, he
                                pioneered the
                                introduction of
                                hybrid rice seed in Pakistan. This in turned helped farmers in some of the poorest rice
                                growing areas of Sindh and Baluchistan Provinces to double the per acre yield, also
                                doubling
                                their incomes, and improving their living standards, a small but significant step in the
                                national goal of poverty alleviation.</p>
                            <p class="text-center text-md-start">Guard Group has proven his services in the various
                                fields i.e.
                                Auto Industry, Food
                                products,
                                Lube Oil Industry, Autozone, Friction and HEPA Filters industry since long time ago.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="section-3 fix-bg-img">
            <div class="text-overlay d-flex text-center align-items-center">
                <h2 class="text-white">Guard Fuel Filter stops contaminants found in fuel which can include rust, metal
                    chips, dust, and
                    other solid particles</h2>

            </div>






        </section>
        <section class="section-4 " style="background-color: #F3F4F4;">
            <div class=" container text-center pt-5">
                <h2>Look at those numbers they are on our side</h2>
            </div>
            <div class="container">
                <div class="row g-3 mt-5">
                    <div
                        class="col-12 col-md-3 back-lines d-flex justify-content-center align-items-center flex-column">
                        <p class="oil-filter-number inc-num1" id="inc_number1">174</p>
                        <p class="oil-filter-text">Oil Filters</p>
                    </div>
                    <div
                        class="col-12 col-md-3 back-lines d-flex justify-content-center align-items-center flex-column">
                        <p class="guard-air-number inc-num1" id="inc_number2">170</p>
                        <p class="guard-air-text">Guard Air Filters</p>
                    </div>
                    <div
                        class="col-12 col-md-3 back-lines d-flex justify-content-center align-items-center flex-column">
                        <p class="guard-fuel-number inc-num1" id="inc_number3">99</p>
                        <p class="guard-fuel-text">Guard Fuel Filters</p>
                    </div>
                    <div
                        class="col-12 col-md-3 back-lines d-flex justify-content-center align-items-center flex-column">
                        <p class="guard-cabin-number inc-num1" id="inc_number4">10</p>
                        <p class="guard-cabin-text">Guard Cabin Filters</p>
                    </div>
                </div>
            </div>

            <div class="container-fluid filters-banner mt-5"></div>

        </section>


        <section class="section-5 my-5">
            <div class="container text-center">
                <h2 class="my-5">Our Products</h2>
                <div class="container">
                    <div class="row g-3">
                        <div class="col-12 col-md-3 ">
                            <a href="/new/filter-family/oil" class="  text-decoration-none "">
                                <div class=" product-icon">
                                <div class="product-content">

                                    <img class=" img-fluid" src="./css/assets/oil-filter.png" alt="">
                                    <h6 class=" pt-3" style="color: #161922;">Oil Filter</h6>
                                </div>

                        </div>




                        </a>
                    </div>
                    <div class="col-12 col-md-3">
                        <a href="/new/filter-family/air" class="text-decoration-none">
                            <div class="product-icon">
                                <div class="product-content">

                                    <img class="img-fluid" src="./css/assets/air-filter.png" alt="">
                                    <h6 class=" pt-3" style="color: #161922;">Air Filter</h6>
                                </div>

                            </div>

                        </a>
                    </div>
                    <div class="col-12 col-md-3">
                        <a href="/new/filter-family/fuel" class=" text-decoration-none">
                            <div class="product-icon">
                                <div class="product-content">
                                    <img class="img-fluid" src="./css/assets/fuel-filter-icon.png" alt="">
                                    <h6 class=" pt-3" style="color: #161922;">Fuel Filter</h6>

                                </div>

                            </div>

                        </a>
                    </div>
                    <div class="col-12 col-md-3">
                        <a href="/new/filter-family/cabin-filter" class=" text-decoration-none">
                            <div class="product-icon">
                                <div class="product-content">

                                    <img class="img-fluid" src="./css/assets/Cabin-Filter-icon.png" alt="">
                                    <h6 class=" pt-3" style="color: #161922;">Cabin Filter</h6>
                                </div>

                            </div>

                        </a>
                    </div>
                </div>
            </div>
            </div>
        </section>
    </main>



    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
    <script src="/js/gsap.min.js"></script>
    <script src="/js/our-company.js"></script>
</body>

</html>