<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/our-catalogue.css">
    <title>Document</title>
</head>

<body>
    <section class="section-1">
        <div class="container-fluid bg-catalogue">
            <h3 class="text-center text-md-start">Our Catalogue</h3>
        </div>
    </section>

    <section class="section-2 my-5">
        <h1 class="text-center">Download Our Catalogue</h1>

        <a href="/Guard-Filters-Catalogue.pdf" class="btn-danger" target="_blank">download pdf</a>
    </section>

</body>

</html>