

/* section-1 */
.brands-box {
    background-color: #F9F9F9;
    border-radius: 20px;
    padding: 50px 60px;
    position: relative;
    box-sizing: border-box;
    transition: background-color 0.6s ease; /* Smooth transition for background color */
}

.brands-content {
    position: relative;
    z-index: 1;
}

.brands-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    border: 2px solid transparent; 
    transition: border-color 0.3s ease; /* Smooth transition for border color */
    pointer-events: none; 
}

.brands-box:hover {
    background-color: white;
}

.brands-box:hover::before {
    border-color: red;
}


.awards-heading{
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
    color: black;
}