/* section-1 */

.breadcrumb-bg{
    background-color: #E20A16;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid white;
}
.breadcrumb-box h1{
    font-size: 60px;
    text-align: center;

}
.link1{
         color: #FFC5CBBD;
         text-decoration: none;
}
.link1:hover{
    text-decoration: underline !important;
}
.link2{
    color: #FFC5CBBD;
}